<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2><%= @username%></h2>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>简简单单网</title>
<style type="text/css">
<!--
.STYLE2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: red;
}
-->
</style>
</head>

<body>

<table width="600" border="0" align="center" style="font-size:24px">
  <tr>
    <td align="center" height="50"><div align="left"><img src="http://pic.jjdd.com/v1/i/pub/logo.gif" /></div></td>
  </tr>
  <tr>
    <td align="center" height="50"><strong>谨防假冒，简简单单网公告</strong></td>
  </tr>
  <tr>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;简简单单网唯一域名 <span class="STYLE2">www.jjdd.com</span>，其它网址都是假的。简简单单网已经升级为移动应用“美丽约”，美丽约继续使用原来简简单单的两个小人的图标，该图标已获得国家批准的正式商标注册证。</td>
  </tr>
  <tr>
    <td><div align="right"><br /><a href="http://www.miliyo.com/?_sid=jjdd" style="text-decoration:underline;color:blue;">快速约会应用“美丽约”&gt;&gt;</a><br/>
    
    已有<font color=red>132.67万</font>用户加入
    </div></td>
  </tr>
</table>
</body>
</html>
